.player {
  height: 100vh;
  width: 100vh;

  &__backArrow {
    display: flex;
    align-items: center;
    left: 10px;
    top: 10px;
    position: absolute;
    color: white;
    cursor: pointer;
    z-index: 2;
  }
  video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
